<%= render "layouts/admin-header" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <h2>
        <%= @bike.bike_name %><br>
        <%= @bike.bike_name_kana %>
      </h2>
      <%= attachment_image_tag @bike,:bike_image, format:'jpeg', size: "800x500", fallback:"no_image(2).jpg", size:"800x500" %>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>年度</th>
            <th>モデル画像</th>
            <th>概要</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @bike.years_bikes.each do |years_bike|%>
              <td><%= years_bike.year %></td>
              <% years_bike.years_bike_images.each_with_index do |years_bike_image, i| %>
              <% if years_bike_image.display_order == 1 %>
                <td class="row small-image-list">
                  <div class="col">
                    <%= attachment_image_tag years_bike_image, :image, format:'jpeg', size: "100x62", fallback:"no_image(2).jpg", size:"100x62", class:"small-image" %>
                  </div>
              <% else %>
                  <div class="col">
                    <%= attachment_image_tag years_bike_image, :image, format:'jpeg', size: "100x62", fallback:"no_image(2).jpg", size:"100x62", class:"small-image" %>
                  </div>
              <% if (i == years_bike.years_bike_images.size - 1) %>
                </td>
              <% end %>
              <% end %>
              <% end %>
              <td><%= years_bike.year_bike_body.truncate(20) %></td>
              <td>
                <%= link_to "編集",admin_maker_years_bike_edit_path(@bike.id, year: years_bike.year), class:"btn btn-warning" %>
                <%= link_to "削除", admin_maker_years_bike_destroy_path(@bike.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？"%>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <%= link_to "年度情報を追加する",admin_maker_years_bike_new_path(@bike.maker_id,@bike.id), class:"btn btn-primary" %>
      <h3>インプレッション</h3>
        <%= link_to "このバイクを編集する", admin_maker_bike_edit_path, class:"btn btn-warning" %>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>




<script type="text/javascript">
  $(function(){
    var url = $('#small1').attr("src");
    $('#big-image').attr("src", url);
  });
</script>