<%= render 'layouts/header',q: @q %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <h3>マイページ</h3>
        <%= attachment_image_tag @user, :profile_image, size: '180x180', fallback: "/images/no_image(1).jpg" %>
          <h4 class="text-center">
            <%= @user.name %>
          </h4>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="callout1-left">
          <p>
            <%= simple_format@user.introduction %>
          </p>
        </div>
        <%= link_to "編集", edit_user_path(@user.id), class:"btn btn-success" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h3>お気に入りバイク</h3>
        <% if @user.bike_favorites.empty? %>
        <br><h5>お気に入りバイクはありません。<br> 気に入ったバイクがあったらお気に入り登録してみてください！</h5><br>
          <% else %>
            <% @user.bike_favorites.each do |bike_favorite| %>
              <div class="col-sm-6 col-lg-4">
                <%= link_to maker_bike_path(bike_favorite.bike.maker_id,bike_favorite.bike.id) do %>
                  <%= attachment_image_tag bike_favorite.bike, :bike_image, size: "150x100", fallback:"/images/no_image(2).jpeg" %>
                    <% end %>
                      <%= bike_favorite.bike.maker.maker_name %>
                        <%= bike_favorite.bike.bike_name %>
              </div>
              <% end %>
                <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h3>インプレッション一覧</h3>
        <% if @user.impressions.empty? %>
          <br><h5>インプレッションはありません。<br>ぜひインプレッションしてみてくださいね！</h5><br>
          <% else %>
        <% @user.impressions.each do |impression| %>
          <div class="impression-area">
            <div class="balloon5 d-flex">
              <%= link_to maker_bike_path(impression.bike.maker_id,impression.bike.id) do %>
                <%= attachment_image_tag impression.bike, :bike_image, size: "150x100", fallback:"/images/no_image(2).jpeg" %>
                  <% end %>
                    <div class="chatting">
                      <div class="says" style="max-width: 500px; min-width: 500px;">
                        <%= impression.bike.bike_name %><br>
                          <%= impression.bike.bike_name_kana %>
                            </br>
                            レビュータイトル：<b><%= impression.impression_title %></b><br>
                              <p style="display: inline-block;">総合評価：
                                <div class="satisfaction_star-rate-<%= impression.id %>" style="display: inline-block;"></div>
                              </p>
                              <%= impression.created_at.strftime("%Y/%m/%d/ %H:%M") %>
                                <script>
                                  $('.satisfaction_star-rate-<%= impression.id %>').raty({
                                    size: 36,
                                    starOff:  '<%= asset_path('/images/star-off.png') %>',
                                    starOn : '<%= asset_path('/images/star-on.png') %>',
                                    readOnly: true,
                                    score: <%=impression.satisfaction_level %>
                                  });
                                </script>
                      </div>
                    </div>
            </div>
          </div>
          <% end %>
          <% end %>
          <%= paginate @impressions, class: "paginate" %>
      </div>
    </div>
  </div>
  <%= render 'layouts/page-up' %>
  <%= render 'layouts/footer' %>
