<%= render 'layouts/header',q: @q %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
<%= simple_form_for(@contact) do |f| %>
  <h2>お問い合わせフォーム</h2>
  <%= f.input :name, label: "名前", placeholder: "名前を入力してください。" %>
  <%= f.input :email, label: "メールアドレス", placeholder: "有効なアドレスを入力してください。" %>
  <%= f.input :message, as: :text, label: "お問い合わせ内容", placeholder: "お問い合わせ内容を入力してください。" %>
  <%= f.button :submit, "確認画面へ", :class => "btn-primary" %>
<% end %>
<br>
</div>
</div>
</div>
<%= render "layouts/footer" %>