<%= render 'layouts/header',q: @q %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="search-area">
        <h3>バイク詳細検索</h3><br>
        <%= search_form_for(@q, url: search_bike_path, html: {method: "get"}) do |f| %>
          <%= f.collection_select :maker_id_eq, Maker.all, :id, :maker_name, :include_blank => '指定なし' %>
          <%= f.select :genre_eq, [["エアロ", "エアロ"],["オールラウンド","オールラウンド"],["エンデュランス","エンデュランス"]], :include_blank => '指定なし'%>
          <%= f.select :grade_eq, [["エントリー", "エントリー"],["ミドル","ミドル"],["ハイエンド","ハイエンド"],["フラグシップ","フラグシップ"]], :include_blank => '指定なし'%>
          <%= f.search_field :bike_name_or_bike_name_kana_cont, placeholder: 'メーカー名またはバイク名で検索' %>
          <%= f.submit "検索", class:"btn btn-default" %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-12 col-lg-12 bike-index">
      <h3>検索でヒットしたバイク一覧</h3>
    </div>
    <% @bikes.each do |bike|%>
      <div class="col-sm-6 col-lg-3 bike-image">
        <%= render "bikes/tag-list", tag_list: bike.tag_list, maker: @maker %><br>
        <%= link_to maker_bike_path(bike.maker_id,bike.id) do %>
          <%= attachment_image_tag bike, :bike_image, format:'jpeg', size: "200x125", fallback:"no_image(2).jpg" %><br>
        <% end %>
        <%= bike.bike_name %><br>
        <%= bike.bike_name_kana %>
      </div>
    <% end %>
    <%= paginate @bikes, class: "paginate" %>
  </div>
</div>
<%= render 'layouts/page-up' %>
<%= render "layouts/footer" %>