<%= render 'layouts/header',q: @q %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <h2>
        <%= @bike.bike_name %><br>
        <%= @bike.bike_name_kana %>
      </h2>
      <% @years_bikes.each_with_index do |years_bike, i| %>
        <% if (i == 0) %>
          <%= form_with(url: maker_bike_path(@bike.maker_id,@bike.id, year: years_bike.year), html: {method: "get"}, local: true) do |f| %>
            <%= f.collection_select :year, @years_bikes, :year, :year %>
            <%= f.submit "検索", class:"btn btn-default" %>
          <% end %>
        <% else %>
        <% end %>
        <% end %>
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <img id="big-image" src="" style="width:800px; height:500px;">
        </div>
      </div>


      <% @recentbike.years_bike_images.each_with_index do |years_bike_image, i| %>
        <% if years_bike_image.display_order == 1 %>
          <div class="row small-image-list">
            <div class="col-sm-4 col-lg-3 small-image">
              <%= attachment_image_tag years_bike_image, :image, format:'jpeg',size: "200x125", fallback:"/images/no_image(2).jpg", class:"small-image", id:"small1" %>
            </div>
        <% else %>
          <div class="col-sm-4 col-lg-3 small-image">
            <%= attachment_image_tag years_bike_image, :image, format:'jpeg',size: "200x125", fallback:"/images/no_image(2).jpg", class:"small-image" %>
          </div>
          <% if (i == @recentbike.years_bike_images.size - 1) %>
          </div>
    </div>
          <% end %>
        <% end %>
      <% end %>
    <div class="col-sm-12 col-lg-12">
      <h3>バイク概要</h3>
      <%= simple_format(@recentbike.year_bike_body) %>
    </div>
    <% if user_signed_in? %>
    <% if @bike.favorited_by?(current_user) %>
      <%= link_to "このバイクをお気に入り登録する", maker_bike_bike_favorites_path(@bike.maker,@bike.id),method: :post, remote: true, class:"btn btn-primary b-f like-hide", id: "create_favorite" %>
      <%= link_to "このバイクをお気に入り登録を解除する", maker_bike_bike_favorites_path(@bike.maker,@bike.id), method: :delete,remote: true, class:"btn btn-warning b-f" , id: "delete_favorite"%>
    <% else %>
      <%= link_to "このバイクをお気に入り登録する",  maker_bike_bike_favorites_path(@bike.maker,@bike.id),method: :post, remote: true, class:"btn btn-primary b-f", id: "create_favorite" %>
      <%= link_to "このバイクをお気に入り登録を解除する",  maker_bike_bike_favorites_path(@bike.maker,@bike.id), method: :delete,remote: true, class:"btn btn-warning b-f like-hide" , id: "delete_favorite"%>
    <% end %>
    <% end %>
  </div>
  <% if @reviews.all?{|e| e.nil?} %>
  <div class="row">
    <div class="col-sm-12 col-lg-12 review-area">
      <h3>このバイクにはまだインプレッションがありません。<br>
      ぜひ最初のインプレッションをしてくださいね！</h3>
    </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h3>レーダーチャート</h3>
        <canvas id="myChart" style ="width:200px, height:200px;"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h3>インプレッション詳細</h3>
        <% @bike.impressions.each do |impression| %>
          <div class="impression-area">
            <div class="balloon5 d-flex">
              <div>
                <%= impression.user.name%>
                <%= link_to user_path(impression.user.id) do %>
                  <%= attachment_image_tag impression.user, :profile_image, format:"jpeg", size:"80x80", fallback: "/images/no_image(1).jpg",:class => "head-user-icon"%>
                <% end %>
              </div>
              <div class="chatting">
                <div class="says">
                  <b><%= impression.impression_title %></b>　　　　　　　　　　　　　　　　　　　　<%= impression.created_at.strftime("%Y/%m/%d/ %H:%M") %><br>
                    <p style="display: inline-block;">総合評価：<div class="satisfaction_star-rate-<%= impression.id %>" style="display: inline-block;"></div></p>
                      <p style="display: inline-block;">デザイン評価：<div class="design_star-rate-<%= impression.id %>" style="display: inline-block;"></div></p>
                      <p style="display: inline-block;">重量評価：<div class="weight_star-rate-<%= impression.id %>" style="display: inline-block;"></div></p>
                      <p style="display: inline-block;">剛性評価：<div class="rigidity_star-rate-<%= impression.id %>" style="display: inline-block;"></div></p>
                      <p style="display: inline-block;">快適性評価：<div class="comfort_star-rate-<%= impression.id %>" style="display: inline-block;"></div></p>
                      <p style="display: inline-block;">コストパフォーマンス評価：<div class="cp_star-rate-<%= impression.id %>" style="display: inline-block;"></div></p>
                    <% if impression.impression_text.lines.count > 4 %>
                    <div class="grad-warp">
                      <span class="grad-trigger"></span>
                      <div class="grad-item">
                      <%= simple_format(impression.impression_text) %>
                    </div>
                  </div>
                      <% else %>
                      <%= simple_format(impression.impression_text) %>
                     <% end %>

                      <script>
                        $('.satisfaction_star-rate-<%= impression.id %>').raty({
                          size: 36,
                          starOff:  '<%= asset_path('/images/star-off.png') %>',
                          starOn : '<%= asset_path('/images/star-on.png') %>',
                          readOnly: true,
                          score: <%=impression.satisfaction_level %>
                        });

                        $('.design_star-rate-<%= impression.id %>').raty({
                          size: 36,
                          starOff:  '<%= asset_path('/images/star-off.png') %>',
                          starOn : '<%= asset_path('/images/star-on.png') %>',
                          readOnly: true,
                          score: <%=impression.design_evaluation %>
                        });

                        $('.weight_star-rate-<%= impression.id %>').raty({
                          size: 36,
                          starOff:  '<%= asset_path('/images/star-off.png') %>',
                          starOn : '<%= asset_path('/images/star-on.png') %>',
                          readOnly: true,
                          score: <%=impression.weight_evaluation %>
                        });

                        $('.rigidity_star-rate-<%= impression.id %>').raty({
                          size: 36,
                          starOff:  '<%= asset_path('/images/star-off.png') %>',
                          starOn : '<%= asset_path('/images/star-on.png') %>',
                          readOnly: true,
                          score: <%=impression.rigidity_evaluation %>
                        });

                        $('.comfort_star-rate-<%= impression.id %>').raty({
                          size: 36,
                          starOff:  '<%= asset_path('/images/star-off.png') %>',
                          starOn : '<%= asset_path('/images/star-on.png') %>',
                          readOnly: true,
                          score: <%=impression.comfort_evaluation %>
                        });

                        $('.cp_star-rate-<%= impression.id %>').raty({
                          size: 36,
                          starOff:  '<%= asset_path('/images/star-off.png') %>',
                          starOn : '<%= asset_path('/images/star-on.png') %>',
                          readOnly: true,
                          score: <%=impression.cp_evaluation %>
                        });
                      </script>
                      <% if user_signed_in? && current_user.id == impression.user_id %>&emsp;&emsp;
                        <%= link_to "編集",edit_maker_bike_impression_path(@bike.maker,@bike.id,impression.id), class:"btn btn-success btn-sm" %>&emsp;
                        <%= link_to "削除",  maker_bike_impression_path(@bike.maker,@bike.id, impression.id), method: :delete, class:"btn btn-danger btn-sm" %>
                      <% end %>

                </div>
          </div>
        </div>
      </div>
        <% end %>
        <% end %>
        <%= paginate @impressions, class: "paginate" %>
      </div>
    </div>
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <% if user_signed_in? %>
              <h3>新規インプレッション投稿</h3>
                <div class="new_review" style="margin-left: 100px;">
                  <div class="form-group review-form">
                      <%= form_for([@bike.maker, @impression], url: maker_bike_impressions_path(bike_id: @bike.id), html: {method: "post"}) do |f| %>
                      <div class="form-group" id="satisfaction_star">
                        <%= f.label :satisfaction_level, '総合評価', class:"col-form-label" %>
                        <%= f.hidden_field :satisfaction_level,value: @satisfaction_star %>
                      </div>
                      <div class="form-group" id="design_star">
                        <%= f.label :design_evaluation, 'デザイン評価', class:"col-form-label" %>
                        <%= f.hidden_field :design_evaluation,value: @design_star %>
                      </div>
                      <div class="form-group" id="weight_star">
                        <%= f.label :weight_evaluation, '重量評価', class:"col-form-label" %>
                        <%= f.hidden_field :weight_evaluation,value: @weight_star %>
                      </div>
                      <div class="form-group" id="rigidity_star">
                        <%= f.label :rigidity_evaluation, '剛性評価', class:"col-form-label" %>
                        <%= f.hidden_field :rigidity_evaluation,value: @rigidity_star %>
                      </div>
                      <div class="form-group" id="comfort_star">
                        <%= f.label :comfort_evaluation, '快適性評価', class:"col-form-label" %>
                        <%= f.hidden_field :comfort_evaluation,value: @comfort_star %>
                      </div>
                      <div class="form-group" id="cp_star">
                        <%= f.label :cp_evaluation, 'コストパフォーマンス評価', class:"col-form-label" %>
                        <%= f.hidden_field :cp_evaluation,value: @cp_star %>
                      </div>
                      <%= f.text_field :impression_title, class:"form-control impression-title", placeholder: "レビュータイトル" %>
                      <%= f.text_area :impression_text, class:"form-control", placeholder: "コメントをここに" , :size => "70x10" %><br>
                      <%= f.submit "送信する",class:"btn btn-danger", name: "impression-create" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      </div>

<%= render 'layouts/page-up' %>
<%= render "layouts/footer" %>




<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    var url = $('#small1').attr("src");
    $('#big-image').attr("src", url);
  });
</script>
<script type="text/javascript">
  $('#design_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('/images/star-off.png') %>',
    starOn : '<%= asset_path('/images/star-on.png') %>',
    scoreName: 'impression[design_evaluation]',
  });

  $('#satisfaction_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('/images/star-off.png') %>',
    starOn : '<%= asset_path('/images/star-on.png') %>',
    scoreName: 'impression[satisfaction_level]',
  });

  $('#weight_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('/images/star-off.png') %>',
    starOn : '<%= asset_path('/images/star-on.png') %>',
    scoreName: 'impression[weight_evaluation]',
  });

  $('#rigidity_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('/images/star-off.png') %>',
    starOn : '<%= asset_path('/images/star-on.png') %>',
    scoreName: 'impression[rigidity_evaluation]',
  });

  $('#comfort_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('/images/star-off.png') %>',
    starOn : '<%= asset_path('/images/star-on.png') %>',
    scoreName: 'impression[comfort_evaluation]',
  });

  $('#cp_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('/images/star-off.png') %>',
    starOn : '<%= asset_path('/images/star-on.png') %>',
    scoreName: 'impression[cp_evaluation]',
  });

  </script>


  <script type="text/javascript">
    $(document).on('turbolinks:load', function(){
      // 要素が見つからない場合、ここでガードする
      var element = document.getElementById("myChart");
      if(!element) { return }

      var ctx = element.getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'radar',
          data: {
              labels: ["デザイン", "重量", "剛性", "快適性", "コストパフォーマンス"],
              datasets: [{
                  label: 'ユーザーの平均評価',
                  data: <%= @reviews %>,
                  backgroundColor: [
                      'rgba(144, 238, 144, 0.2)',
                  ],
                  borderColor: [
                      'rgba(75, 192, 192, 1)',
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              title: {
                fontSize: 25,
                display: true,
                text: 'ユーザー評価'
              },
              scale: {
                      ticks: {
                        stepSize: 1,
                        suggestedMax: 5,
                        suggestedMin: 0,
                        callback: function(value, index, values){
                        return  value +  'つ星'
                          beginAtZero:true
                       }
                      }
                }
              }
          }

      );
    })
  </script>

  <script type="text/javascript">
var itemHeights = [];
var returnHeight;

$(document).on('turbolinks:load', function(){
$(".grad-item").each(function(){ //ターゲット(縮めるアイテム)
var thisHeight = $(this).height(); //ターゲットの高さを取得
itemHeights.push(thisHeight); //それぞれの高さを配列に入れる
$(this).addClass("is-hide"); //CSSで指定した高さにする
returnHeight = $(this).height(); //is-hideの高さを取得
});
});

$(".grad-trigger").on({'click':(function(){ //トリガーをクリックしたら
if(!$(this).hasClass("is-show")) {
var index = $(this).index(".grad-trigger"); //トリガーが何個目か
var addHeight = itemHeights[index]; //個数に対応する高さを取得
$(this).addClass("is-show").next().animate({height: addHeight},200).removeClass("is-hide"); //高さを元に戻す
} else {
$(this).removeClass("is-show").next().animate({height: returnHeight},200).addClass("is-hide"); //高さを制限する
}
})
});
  </script>
<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $(document).on('click', 'input[name = impression-create]', function() {
        // バリデーション
        let value1 = document.getElementsByName("impression[satisfaction_level]")
        let value2 = document.getElementsByName("impression[design_evaluation]")
        let value3 = document.getElementsByName("impression[weight_evaluation]")
        let value4 = document.getElementsByName("impression[rigidity_evaluation]")
        let value5 = document.getElementsByName("impression[comfort_evaluation]")
        let value6 = document.getElementsByName("impression[cp_evaluation]")
      if (value1[1].value === '') {
        alert('総合評価が未入力です');
        return false;
      }
      if (value2[1].value === '') {
        alert('デザイン評価が未入力です');
        return false;
      }
      if (value3[1].value === '') {
        alert('重量評価が未入力です');
        return false;
      }
      if (value4[1].value === '') {
        alert('剛性評価が未入力です');
        return false;
      }
      if (value5[1].value === '') {
        alert('快適性評価が未入力です');
        return false;
      }
      if (value6[1].value === '') {
        alert('コストパフォーマンス評価が未入力です');
        return false;
      }
      if ($('#impression_impression_title').val() == '') {
        alert('未入力の項目があります');
        return false;
      }
      if ($('#impression_impression_text').val() == '') {
        alert('未入力の項目があります');
        return false;
      }
    });
})
</script>
