<%= render 'layouts/header',q: @q %>

  <div class="body">
    <div class="padding-zone"></div>
    <div class="container1">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
      </div>
    </div>
    <div class="container2">
    <div class="row">
      <div class="col-sm-12 text-box">
        <p class="main-text">Road Impression -ロープレ- へようこそ！</p>
        <p class="main-text">
           ここではサイクリストが感じたロードバイクの感想や評価を見ることができます。
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h2 class="index-title">メーカーから選ぶ</h2>
        <div class="row">
          <% @makers.each_with_index do |maker,i| %>
            <div class="col-sm-6 col-lg-4 d-flex justify-content-center align-items-center">
              <%= link_to maker_path(maker.id) do %>
                <%= attachment_image_tag maker, :maker_image, format: 'png', size: "200x100" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <h2 class="index-title">タイプから選ぶ</h2>
        <div class="row">
            <div class="col-sm-4 col-lg-4 d-flex justify-content-center align-items-center">
            <%= link_to search_genre_path(0) do %>
               <div class="bikes aero">エアロロード</div>
             </div>
            <% end %>
            <div class="col-sm-4 col-lg-4 d-flex justify-content-center align-items-center">
            <%= link_to search_genre_path(1) do %>
              <div class="bikes all-round">オールラウンド</div>
            <% end %>
            </div>
            <div class="col-sm-4 col-lg-4 d-flex justify-content-center align-items-center">
            <%= link_to search_genre_path(2) do %>
              <div class="bikes endurance">エンデュランス</div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
<div>
<%= render 'layouts/page-up' %>
<%= render 'layouts/footer' %>
