<%= render 'layouts/header' %>

  <div class="body">
    <div class="container container1">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-sm-12 text-box">
        <p class="main-text">Road Impression -ロープレ- へようこそ！</p>
        <p class="main-text">
           ここではサイクリストが感じたロードバイクの感想や評価を見ることができます。
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-9">
        <h2 class="index-title">メーカーから選ぶ</h2>
        <div class="row">
          <% @makers.each do |maker| %>
            <div class="col-sm-6 col-lg-4">
              <%= link_to admin_maker_path(maker.id) do %>
                <%= attachment_image_tag maker, :maker_image, format: 'png', size: "200x100" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <h2 class="index-title">タイプから選ぶ</h2>
        <div class="bike-type">
          <ul class="list">
            <li class="bike aero">エアロロード</li>
            <li class="bike all-round">オールラウンド</li>
            <li class="bike endurance">エンデュランス</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3">
        <h3>サイドバーです</h3>
      </div>
    </div>
    </div>
  </div>
<div>
<%= render 'layouts/page-up' %>
<%= render 'layouts/footer' %>
