<%=render 'layouts/admin-header', q: @q %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>メーカー編集フォーム</h2>
      <%= simple_form_for @maker, :url => {:action => :update} do |f| %>
      <%= f.attachment_field :maker_image %>
      <%= f.input :maker_name, label:"メーカー名", placeholder: "メーカー名" %>
      <%= f.input :country, iso_codes: true, label: "国名" %>
      <%= f.input :body, as: :text, label: "メーカー概要", placeholder: "メーカー概要を入力" %>
      <%= f.button :submit, "この内容でメーカーを更新", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%=render 'layouts/footer' %>