<header class="navbar navbar-expand-sm" style="background-color: #f000;">
  <nav class="nav navbar-nav bavbar-left">
    <%= link_to root_path do %>
      <%= image_tag "logo.png",size: "200x100", :class => "logo-img" %>
    <% end %>
  </nav>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user.id) do %>
            <%= attachment_image_tag current_user,:profile_image, fallback: "no_image.jpg",  size:"45x45" ,:class => "head-user-icon"%>
          <% end %>
        </li>
        <li>このサイトについて</li>
        <li>プライバシーポリシー</li>
        <li>お問い合わせ</li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li>このサイトについて</li>
        <li>プライバシーポリシー</li>
        <li>お問い合わせ</li>
        <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span></li>
      <% end %>
    </ul>
  </nav>
</header>

